body {
  margin: 0;
  min-width: 250px;
  background: url("https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  padding: 1% 25%;
  color: white;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.start {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 30px;
  margin: 7px;
}

h1 {
  color: white;
  background-color: edf2f7;
  text-align: center;
}

ul {
  margin: 5px;
  padding: 0px 20%;
  width: 100%;
  align-self: center;
  border: rgb(132, 224, 240);
  border-width: 2px;
  border-color: orangered;
}

ul li {
  cursor: pointer;
  list-style-type: none;
  position: relative;
  padding: 12px 10px 12px 10px;
  background: #e9d8fd;
  font-size: 20px;
  color: #a42cc2;
  transition: 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #d6bcfa;
}
ul li:nth-child(odd):hover {
  color: purple;
  background-color: white;
}
ul li:nth-child(even):hover {
  color: purple;
  background-color: white;
}
ul li.checked {
  background: rgb(220, 55, 200);
  color: rgb(23, 24, 22);
  text-decoration: line-through;
}
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: cornflowerblue;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  color: cornsilk;
  border-radius: 2px;
  background-color: crimson;
}
input {
  margin: 0;
  width: 75%;
  border: 0.2rem rgba(195, 194, 196, 0.618) solid;
  border-radius: 10px;
  padding: 10px;
  float: left;
  font-size: 18px;
}
input:hover {
  border: 0.2rem rgba(217, 174, 248, 0.618) solid;
  border-radius: 10px;
}
input:focus {
  outline: none;
}
.add {
  padding: 10px;
  width: 25%;
  background: rgb(190, 24, 149);
  float: left;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  border-radius: 0;
  font-size: 18px;
  border-radius: 5px;
}
.add:hover {
  background: rgb(235, 13, 172);
}
